<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
      	<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://jinju-flower-db.mysql.database.azure.com:3306/jinju_flower"/>
		<property name="username" value="jinju_db_admin@jinju-flower-db"/>
        <property name="password" value="passwordis123#"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis/repository/mapper/customerMapper.xml"/>
	<mapper resource="mybatis/repository/mapper/pictureMapper.xml"/>
	<mapper resource="mybatis/repository/mapper/userTrackingLogMapper.xml"/>
	<mapper resource="mybatis/repository/mapper/articleMapper.xml"/>
	<mapper resource="mybatis/repository/mapper/tagMapper.xml"/>
	<mapper resource="mybatis/repository/mapper/reviewMapper.xml"/>
	<mapper resource="mybatis/repository/mapper/articleMapper2.xml"/>
	<mapper resource="mybatis/repository/mapper/orderMapper2.xml"/>
	<mapper resource="mybatis/repository/mapper/papMapper2.xml"/>
	<mapper resource="mybatis/repository/mapper/productMapper2.xml"/>
  </mappers>
</configuration>