<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.repository.mapper.articleMapper">

	<select id="selectArticlePostList" resultType="mybatis.model.ArticlePost">
		SELECT
			a.article_id,
			a.customer_id,
			a.title,
			a.content,
			a.is_linked_to_product,
			a.is_registered,
			a.registration_date,
			(SELECT p.picture FROM picture p WHERE p.article_id = a.article_id) as picture
			<!--CAST((SELECT COUNT(*) FROM like lk WHERE lk.article_id = a.article_id) AS CHAR) as likeCount-->
		FROM article a
	</select>
	<select id="selectArticlePostOne" resultType="mybatis.model.ArticlePost" parameterType="String">
		SELECT
			a.article_id,
			a.customer_id,
			a.title,
			a.content,
			a.is_linked_to_product,
			a.is_registered,
			a.registration_date,
			(SELECT p.picture FROM picture p WHERE p.article_id = a.article_id) as picture
			<!--  (SELECT COUNT(*) FROM like lk WHERE lk.article_id = a.article_id) as likeCount-->
		FROM article a
		WHERE a.article_id = #{article_id}
	</select>
	<insert id="insertArticle" parameterType="java.util.HashMap">
  		INSERT INTO article(article_id, customer_id, title, content, is_linked_to_product, is_registered, registration_date)
  		VALUES (#{article_id}, #{customer_id}, #{title}, #{content}, #{is_linked_to_product}, #{is_registered}, now());
	</insert>
  
    
</mapper>