<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.repository.mapper.reviewMapper">

	<select id="selectReviewList" resultType="mybatis.model.Review" parameterType="String">
		SELECT 
			r.review_id,
			r.customer_id,
			(SELECT c.name FROM customer_basic c WHERE c.customer_id= r.customer_id) as author_name,
			r.article_id,
			r.is_registered,
			r.content,
			r.stars,
			r.registration_date
		FROM review r
		WHERE article_id = #{article_id}
		ORDER BY r.registration_date
	</select>
	<insert id="insertReview" parameterType="java.util.HashMap">
		INSERT INTO review(review_id, customer_id, article_id, is_registered, content, stars, registration_date)
  		VALUES (#{review_id}, #{customer_id}, #{article_id}, #{is_registered}, #{content}, #{stars}, now());
	
	</insert>
	
    
</mapper>