<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.repository.mapper">
  
  <select id="selectId" parameterType="long" resultType="mybatis.model.test">
    select id,name,sex
    from test
    where id = #{id} 
  </select>
  
  <insert id="insertProduct" parameterType="mybatis.model.Product">
  	INSERT into product(product_id,product_variety_code,is_available,price,article_id)
  	VALUES (#{productId},#{productVarietyCode},#{isAvailable},#{price},#{articleId})
  </insert>
  
  <insert id="insertArticle" parameterType="mybatis.model.Article">
  	INSERT into article(article_id,customer_id,title,content,is_linked_to_product,is_registered,registration_date)
  	VALUES (#{articleId},#{customerId},#{title},#{content},#{isLinkedToProduct},#{isRegistered},#{registrationDate})
  </insert>
  
  <insert id="insertPicture" parameterType="mybatis.model.Picture">
  	INSERT into picture(picture_id,article_id,picture_path)
  	VALUES (#{pictureId},#{articleId},#{picturePath})
  </insert>
  
  
  <select id="selectPAP"  resultType="mybatis.model.VProductArticlePictureLatest">
   SELECT product_variety_code, is_available, product_id, price, article_id, customer_id, title, content, is_linked_to_product, is_registered, registration_date, picture_id, picture
   FROM v_product_article_picture_latest
  </select>
 
  
</mapper>