<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.repository.mapper.tagMapper">

	<select id="selectTagList" resultType="string" parameterType="String">
		SELECT tag_name 
		FROM tag 
		WHERE article_id = #{article_id}
	</select>
	<insert id="insertTag" parameterType="java.util.HashMap">
  		INSERT INTO tag(article_id, tag_name)
  		VALUES (#{article_id}, #{tag_name})
	</insert>
    
</mapper>